.card img, .container2 img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 70vw;
    max-height: 90vh;
    background: linear-gradient(135deg, rgba(132, 132, 132, 0.1),  rgba(68, 68, 68, 0));
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #747474;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 10px #ababab;
    transition-duration: 0.3s;
}
.list{
    font-size: clamp(1.20rem, 2vw, 1.20rem);
    border: 2px solid #747474;
    background: linear-gradient(135deg, rgba(94, 94, 94, 0.1),  rgb(94, 94, 94, 0));
    backdrop-filter: blur(10px);
    padding: 10px 40px;
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 10px #ababab;
    transition-duration: 0.3s;
}
li {
    margin: 10px;
    border-radius: 4px;
    transition: transform 0.2s ease;
  }
  
  li:hover {
    transform: translateX(20px);
  }
li::marker{
    color: #dedfe0;
    font-size: clamp(0.8rem, 1.5vw, 1.4rem);
}
ul:hover {
    box-shadow: 0 0 20px #ababab;
    -webkit-transform: scale(1.002);
    transform: scale(1.002);
}
li:hover {
    box-shadow: 0 0 20px #ababab;
    transform: translateX(10px);
}
.card, .finishWork, .container2, .container{
    background: #5e5e5e;
    font-size: 28px;
    margin: max-content;
    padding: 20px;
    border: 2px solid #747474;
    background: linear-gradient(135deg, rgba(94, 94, 94, 0.1),  rgb(94, 94, 94, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 10px #ababab;
    transition-duration: 0.3s;
    margin-top: 30px;
}
.card h1 , .container2 h1{
    font-size: 20px;
}